/Backup/*
bin/
obj/
*/Log/
_ReSharper*
*.DotSettings.user
*.suo
*.jtconfig
*.orig
*.dgml
*.csproj.user
*.DotSettings
*.ncrunchsolution
*.ncrunchsolution.user
*.coverage
TestResults/*
*.pubxml.user
*.pubxml
*.psess
*.vspx
*.rej
*.gzip
*.map
/packages/*
