*        text=auto eol=crlf

*.cs     text diff=csharp
*.html   text diff=html
*.xml    text diff=xml
*.coffee text
*.txt    text
*.css    -text
*.js     -text
*.sql    text

*.csproj text
*.sln    text
*.dll    binary
*.nupkg  binary
*.exe    binary
*.dat    binary
*.png    binary
*.bmp    binary
*.gif    binary
*.jpg    binary
*.jpeg   binary
